
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-container {
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    width: 320px;
  }
  
  .loginlogo {
    width: 250px; 
    height: auto; 
    margin-bottom: 20px;
  }
  
  
  
  
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #8b0000; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #a00000; 
  }
  
  .forgot-password-link {
    display: block;
    margin-top: 15px;
    color: #8b0000;
    text-decoration: none;
  }
  
  .forgot-password-link:hover {
    text-decoration: underline;
  }
  
  .signup-link {
    display: block;
    margin-top: 10px; 
    color: #8b0000;
    text-decoration: none;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  