
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.homepage {


    background-color: #ffffff; 
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    
    z-index: 1000; 
    height: 100px; 
}


.menu-btn {
    font-size: 24px;
    padding: 8px;
    background-color: #f0f0f0; 
    border-radius: 5px;
    margin-right: 8px;
}


.homelogo {
    max-width: 120px; 
    max-height: 120px; 
    width: auto;
    height: auto;
    margin-right: 10px; 
}


.title2 {
    font-size: 2rem; 
    margin: 0;
    line-height: 1.2;
    color: #b00d0d;
}


.login-btn {
    background-color: #b00d0d; 
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.hero-image {
    width: 100%;
    height: auto;
    max-width: 1000px; 
}

.hero-content {
    margin-top: 16px;
    text-align: center;
}


.it-industry {
    margin: 32px 0;
}

.industry-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.industry-card {
    flex: 1;
    margin: 16px;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.footer {
    margin-top: 32px;
    padding: 16px;
    background-color: #f0f0f0;
    text-align: center;
}
